/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos generales*/
/*estilos del header*/
header {
  background-color: #f4c6b8;
  border-style: solid;
  margin-bottom: 10px;
  font-family: 'Anuphan', sans-serif;
  font-family: 'Pompiere', cursive; }
  header nav div ul li .color-navbar {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline; }
  header nav div ul li .color-navbar:hover {
    background-color: black;
    color: whitesmoke; }

/*estilos para parrafos*/
p {
  font-family: calibri; }

/*estilos del footer*/
footer {
  background: linear-gradient(to right, #f4c6b8, whitesmoke);
  display: grid; }
  footer ul {
    display: grid;
    grid-template-columns: 8fr 0.66fr 0.66fr 0.66fr;
    list-style: none;
    gap: 2px; }
    footer ul li {
      align-items: center;
      display: grid; }
      footer ul li p {
        color: black;
        font-size: 25px;
        display: inline-block;
        font-family: 'Anuphan', sans-serif;
        font-family: 'Pompiere', cursive; }

/*estilos generales en algunas paginas utilizando extend*/
.h1-haircare, .h1-intimates, .main-nosotros .h1-nosotros {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
  font-family: 'Anuphan', sans-serif;
  font-family: 'Pompiere', cursive; }

.contenedor-parrafos-haircare, .contenedor-parrafos-intimates {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px; }

/*estilos del index*/
.bienvenida {
  text-align: center;
  margin-bottom: 5rem;
  text-decoration: underline;
  font-family: 'Anuphan', sans-serif;
  font-family: 'Pompiere', cursive; }

.contenedor-portadas .portada-uno {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 0.6fr 0.4fr;
  grid-template-columns: 1fr; }
  .contenedor-portadas .portada-uno a .img-uno {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .contenedor-portadas .portada-uno .parrafos-portadas {
    justify-self: center;
    width: 60%; }

.contenedor-portadas .portada-dos {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 0.6fr 0.4fr;
  grid-template-columns: 1fr; }
  .contenedor-portadas .portada-dos a .img-dos {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .contenedor-portadas .portada-dos .parrafos-portadas {
    justify-self: center;
    width: 60%; }

/*media queries desktop del index*/
@media screen and (min-width: 1024px) {
  .contenedor-portadas {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%; } }

/*estilos haircare*/
.h2-haircare {
  text-align: center;
  margin-bottom: 35px;
  font-family: 'Anuphan', sans-serif;
  font-family: 'Pompiere', cursive; }

.contenedor-productos-hc {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, 1fr); }
  .contenedor-productos-hc .producto-hc {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    background-color: #f4c6b8; }
  .contenedor-productos-hc h3 {
    font-family: calibri;
    font-size: 15px;
    color: black;
    font-weight: bold; }
  .contenedor-productos-hc .img-hc {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/*media queries tablet de haircare*/
@media screen and (min-width: 600px) {
  .contenedor-productos-hc {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); } }

/*media queries desktop de haircare*/
@media screen and (min-width: 1024px) {
  .contenedor-productos-hc {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%); } }

/*estilos intimates*/
.h2-intimates {
  text-align: center;
  margin-bottom: 35px;
  font-family: 'Anuphan', sans-serif;
  font-family: 'Pompiere', cursive; }

.contenedor-productos-intimates {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 1fr); }
  .contenedor-productos-intimates .producto-intimates {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background-color: black; }
    .contenedor-productos-intimates .producto-intimates div {
      background-color: black;
      display: grid;
      justify-items: center;
      align-items: center;
      color: whitesmoke;
      border-radius: 10px;
      padding: 10px; }
      .contenedor-productos-intimates .producto-intimates div h3, .contenedor-productos-intimates .producto-intimates div h4 {
        font-family: calibri;
        font-size: 20px; }
    .contenedor-productos-intimates .producto-intimates .img-intimates {
      width: 300px;
      height: 300px;
      object-fit: cover; }

/*media queries tablet de intimates*/
@media screen and (min-width: 600px) {
  .contenedor-productos-intimates {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); } }

/*media queries desktop de intimates*/
@media screen and (min-width: 1024px) {
  .contenedor-productos-intimates {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%); } }

/*estilos nosotros*/
.main-nosotros {
  display: grid;
  justify-items: center; }
  .main-nosotros .h2-nosotros {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Anuphan', sans-serif;
    font-family: 'Pompiere', cursive; }
  .main-nosotros .contenedor-parrafos-nosotros {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%; }
  .main-nosotros .contenedor-img-nosotros {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: repeat(2, min-content);
    margin-bottom: 5px;
    justify-content: center;
    gap: 5px; }
    .main-nosotros .contenedor-img-nosotros .img-nosotros {
      height: 100%;
      width: 100%;
      object-fit: cover; }

/*estilos contacto*/
.contenedor-contacto {
  width: 80%;
  margin: auto;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 10px; }
  .contenedor-contacto div h1 {
    margin-bottom: 15px;
    font-size: 35px;
    font-family: calibri; }
  .contenedor-contacto div h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-family: calibri; }
  .contenedor-contacto div div {
    font-size: 17px;
    margin-bottom: 30px;
    color: black;
    font-weight: 700;
    font-family: calibri; }
  .contenedor-contacto form fieldset .campo-texto {
    width: 100%;
    font-size: 17px;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px; }
  .contenedor-contacto form fieldset .boton-enviar {
    padding: 15px;
    font-size: 17px;
    border: none;
    background-color: #f4c6b8;
    color: black; }

.ubicacion-contacto {
  margin-top: 80px;
  grid-template-rows: 1fr 3fr;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: calibri; }

/*media queries desktop de contacto*/
@media screen and (min-width: 1024px) {
  .contenedor-contacto {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(50, 50%); } }
